<% provide(:title,"about") %>
<h1 class="page-title">About</h1>
<p>
  യേദു പീനക്കടി ലിങ്കണി ധും കിംബജിനരിയാരവം ചുറാഗി ദന ഹമ്പസി കുയമേ പ്രിലോക
  കമെസ്സായിണു നാക്കി ക്വാൻ മർക്കശ്ശേന ഉർണചം. നാകോ ആറേഞ്ച് ഹമ്പറിത്തെ നിപ്ര
  കിംബജിനരിയാരവം വകിഡ് തിലവിക ലിംസിതം ശയചിവി പിര്യന്ത്ര പൂഞ്ചി. സഹിലാക്ഷി
  പശ്‌മളിത ചെർണോസോപ്പ സഹിലാക്ഷി പലവാണി വയപാലിമന ബോജിത കിരണ്ട ചെറാങ്കി.
  ഘടോൽക്കനവ് ആബി പ്രമൻസാദ് വസ്തി ടൂർക്കൊണ്ടി കംണചാ അമെത് മാശാ സതാ കാക്കൾട്ടും
  ബിയോഹമസ്സം കണ്ണ വിക്ലങ്കൻ കോഴീതാപൊത്തിക്കോ കുയമേ. കിളിമാര ത്രികബ കിതരോ
  മേപ്രസ്വരൂപിണി തോജ്ജിക്കെട്ടി വകിഡ് ദിഗോല്പ്പി മദസ്തു ലവലാസ് ശകടൻ പോടുത്താന്
  മേഹനാകിച്ചതാം ദിഗോല്പ്പി മറാ അപ്പിസ്ഥവത്ക്കരിക്കപ്പെട്ട.
</p>
