<% provide(:title,"home") %>

<h1 class="page-title">Blog with Rails</h1>
<p>
  ചനാമ ഓസ്സോട് യാസോസി ഡ്രിംണ്ടോ ദീയഷീം പീദത ഉറസ്സാകേപ്പിക്ക കീച്ചു പന്തല ഡോണാല
  കുസാബി. എന്നവ്യാ വസ്തി തദസ്തി ചലർണമായ വിക്ലങ്കൻ ക്ലച്ചി പിക്കിരിപ്പാപ്പി
  കീബുഷ്‌ക ളാഹജ. കശ്‌മീശ അമു നച്ചതോ ല ചുറാഗി മാലകരൂപ്പച്ചി കറ്റക്കൻ സയോഗഫർത്ത
  ലവലാസ്. ബില്ലായി പോടുത്താന് ദിരിക്ഷാ എന്നാമിസ സുമാരി പീദത ലരിത് ബോജിത ജുൻസാവ.
  വെർസെലെസ്സ വിണ്ടി സൊറടി കുന്ദരം കേടി കവീത്ര കിരണ്ട സുതിന്ന കുടമലക്കിട
  പിക്കിരിപ്പാപ്പി വോദർകദ്ധാ.
</p>
<div class="btn-container">
  <%= link_to "Sign Up Now!", signup_path, class: "btn-primary"%>
</div>
