/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");

$primary_color: rgb(50, 51, 50);
$primary_text: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  max-width: 100vw;
  a {
    text-decoration: none;
    color: inherit;
  }
  li {
    list-style: none;
  }
  .header {
    background-color: $primary_color;
    color: $primary_text;
    height: 8vh;
    nav {
      max-width: 60%;
      margin: auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        h2 {
          text-transform: uppercase;
          letter-spacing: 4px;
          transition: 0.3s;
          &:hover {
            color: $primary_color;
            background-color: $primary_text;
          }
        }
      }
      ul {
        display: flex;
        li {
          margin: 5px 10px;
          border-bottom: solid 1px $primary_color;
          &:hover {
            border-bottom: solid 1px;
          }
        }
      }
      .burger {
        display: none;
      }
    }
  }
  .container {
    max-width: 60%;
    margin: auto;
    padding: 2vh 0px;
    color: $primary_color;
  }
  .btn-primary {
    border: solid 2px $primary_color;
    color: $primary_color;
    padding: 8px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    &:hover {
      background-color: $primary_color;
      color: white;
      animation: pulse 0.6s ease infinite alternate;
    }
  }
  .btn-container {
    display: flex;
    justify-content: space-evenly;
  }
  .form-container {
    margin: 10px 0;
    background-color: rgba($primary_color, 0.2);
    padding: 20px 10px;
    border-radius: 5px;
    .form-group {
      margin: 5px 20px;
    }
    label {
      display: block;
    }
    .form-input{
      width: 100%;
      padding: 5px 10px;
      font-size: larger;
      font-family: "Poppins", sans-serif;
      border: solid 1px black;
      border-radius: 3px;
    }
  }
  .gravatar{
    display: block;
    margin: 4vh auto;
    border-radius: 50%;
    padding: 13px;
    transition: 0.3s;
    border: solid 3px transparent;
    &:hover{
      border-radius: 5px;
      border: solid 3px $primary_color;
    }
  }
  .flash-messages{
    display: flex;
    position: absolute;
    top: 8vh;
    right: 10px;
    padding: 10px;
    flex-direction: column;
    .flash-message{
      margin: 5px 0px;
      animation: toast 3s ease-in reverse;
      animation-timing-function: initial;
      transform: translateY(-100vh);
    }
  }
  .alert{
    padding: 10px;
    border-radius: 3px;
  }
  .alert-danger{
    background-color: rgba(rgb(231, 70, 42),0.4);
    border: solid 2px rgb(231, 70, 42);
  }
  .alert-success{
    background-color: rgba(rgb(34, 199, 34),0.4);
    border: solid 2px rgb(34, 199, 34);
  }
  #errors{
    padding:10px;
    background-color: rgba(rgb(231, 70, 42),0.2);
    border-radius: 3px;
  }
}

@media screen and (max-width: 768px) {
  body {
    .header {
      nav {
        max-width: 90%;
        ul {
          overflow-x: hidden;
          flex-direction: column;
          position: absolute;
          right: 0;
          top: 8vh;
          background-color: rgba($primary_color, 0.9);
          height: 92vh;
          justify-content: space-evenly;
          align-items: center;
          transition: 0.6s;
          width: 0vw;
          opacity: 0;
        }
        .nav-active {
          width: 30vw;
          opacity: 1;
        }
        .burger {
          width: 25px;
          height: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          span {
            background-color: $primary_text;
            width: 100%;
            height: 3px;
            transition: 0.3s;
          }
        }
        .active {
          #line1 {
            transform: rotate(45deg) translate(4px, 6px);
          }
          #line2 {
            opacity: 0;
          }
          #line3 {
            transform: rotate(-45deg) translate(4px, -6px);
          }
        }
      }
    }
    .container {
      max-width: 90%;
    }
    .btn-container {
      flex-direction: column;
      button,
      input {
        margin: 8px 20%;
      }
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes toast{
  0%{
    transform: translateY(20vh);
    opacity: 0;
  }
  20%{
    transform: translateX(0);
    opacity: 1;
  }
  80%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-100vh);
    opacity: 0;
  }
}
