body {
  .container {
    .comments-container {
      // background-color: rgba($primary_color, 0.1);
      padding: 10px;
      margin: 10px 0;
      .comment {
        max-width: 70%;
        margin: 5px auto;
        background-color: rgba($primary_color, 0.3);
        border-radius: 3px;
        padding: 10px;
        .content {
          text-align: center;
          border-top: solid 1px rgba(gray, 0.6);
          padding-top: 5px;
        }
        .comment-details {
          display: flex;
          justify-content: space-between;
          .comment-menu {
            .fa {
              margin: 0 10px;
            }
          }
        }
        .comment-options{
          display: flex;
          justify-content: space-evenly;
          border-bottom: solid 1px;
          border-left: solid 1px;
          border-right: solid 1px;
          border-radius: 5px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          span{
            cursor: pointer;
          }
        }
        .form-container{
          margin: 0;
          background-color: transparent;
          display: none;
        }
        .comment{
          max-width: 90%;
        }
        .reply-container{
          display: none;
          margin-bottom:20px;
        }
        .comment-active{
          display: block;
          animation: slideDown 0.3s ease-out;
        }
      }
      .sub-options{
        display: block;
        margin: auto;
        padding:0;
        background:transparent;
      }
      .form-container{
        form{
          display: flex;
          flex-direction: row;
          align-items: center;
          .form-group{
            flex:4;
          }
          .btn-container{
            flex:1;
          }
        }
      }
    }
    .animate{
      animation: scaleUp 0.3s;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    .container {
      .comments-container {
        .form-container{
          form{
            flex-direction: column;
            .btn-container{
              width: 70%;
            }
          }
        }
        .comment {
          max-width: 90%;
          .content {
          }
          .comment-details {
            .comment-menu {
              .fa {
              }
            }
          }
        }
      }
    }
  }
}

@keyframes scaleUp{
  from{
    transform: translateX(100vw);
  }
}

@keyframes slideDown{
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
}

// .post-title{
//   background-image: url('https://picsum.photos/400/200');
//   margin-bottom: 10px;
//   border-radius: 10px;
//   background-repeat: no-repeat;
//   font-size: 24px;
//   background-size: cover;
//   background-position: center;
//   text-shadow: 2px 2px 15px rgb(248, 248, 248);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 20vh;
// }
